---
import ProductCard from './ProductCard.astro';
---
<section class="w-full max-w-4xl mx-auto">
  <h3 class="text-3xl font-bold mb-6">Product List</h3>
  <div class="flex flex-row gap-6 justify-center">
    <ProductCard image="/smartwatch-ai.png" name="Smartwatch" price="249.99" />
    <ProductCard image="/speaker-ai.png" name="Smart Speaker" price="99.99" />
    <ProductCard image="/camera-ai.png" name="Camera Lens" price="149.99" />
  </div>
</section> 