---
import CloudflareServicesSidebar from '../components/CloudflareServicesSidebar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/icon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Cloudflare Developer Services Demo</title>
	</head>
	<body class="font-sans">
		<div class="grid grid-cols-[1fr_20rem] min-h-screen">
			<main class="overflow-y-auto">
				<slot />
			</main>
			<CloudflareServicesSidebar />
		</div>
	</body>
</html>
